<div class="principal">
    <div class="logo">

    </div>

    <div class="login">
        <h1>Registro</h1>

        <div location="nombres" class="campo"></div>
        <div location="comision" class="campo"></div>
        <div location="correo" class="campo"></div>
        <div location="user" class="campo"></div>
        <div location="password" class="campo"></div>
        <div location="passwordConf" class="campo"></div>
        <div location="registrar" class="campo"></div>

    </div>
</div>